{% set loopback_ip = ( interfaces | selectattr("name", "equalto", "Loopback0") | first).ip_addresses  | selectattr("family.value", "equalto", 4)  | first %}

router bgp 65500
 router-id  {{ loopback_ip.address.split("/")[0] }}





