{% for interface in interfaces if interface.enabled and interface.name != "Management0"%}
interface {{ interface.name }}
 description {{ interface.description }}
{% if interface.type.value != "virtual"  %}
 no switchport
{% endif %}
{% for ip in interface.ip_addresses | default([]) %}
{% if ip.family.value == 4 %}
 ip address {{ ip.address }}
{% elif ip.family.value == 6 %}
 ipv6 address {{ ip.address }}
{% endif %}
{% endfor %}
{% if not interface.mgmt_only and 'ospf' in (interface.tags | default([])) %} 
 ip ospf area 0
{% if interface.type.value != "virtual" %} 
 ip ospf network point-to-point
{% endif %}
{% endif %}
{% if not interface.mgmt_only and 'mpls' in (interface.tags | default([])) %} 
 mpls ip
{% endif %}
{% endfor %}